/* ===========================
   FOOTER
   =========================== */
.nav-footer { font-size: 1.15em; font-weight: 340; text-align: center; }
.footer h3 { color: $ink; }
.nav-footer-left, .nav-footer-right { text-align: center; }
