/* ===========================
   TABS
   =========================== */
.panel-tabset { border: none !important; }
.tab-content { border-top: 1px solid $slate; border-bottom: 1px solid $slate; border-left: none !important; border-right: none !important; }
.nav-tabs .nav-link {
  color: $white;
  background-color: $blue;
  border: 1px solid $slate;
  border-bottom: none;
  margin-right: 2px;
  &:hover { background-color: $teal; color: $white; }
  &.active {
    background-color: $teal;
    border-color: $teal;
    border: 1px solid $slate;
    border-bottom: none;
  }
}
