/*-- scss:defaults --*/

/* Colour overrides */
$body-bg: #fff;
$body-color: #434341;
$link-color: #37B4B0;
$navbar-bg: #efefef;
$navbar-fg: #102A43;
$sidebar-bg: #efefef;
$sidebar-fg: #102A43;
$footer-bg: #102A43;
$footer-fg: #ffffff;
$code-block-bg: #FDFBF9;

/* Font overrides */
$font-family-sans-serif: "Roboto", "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
$headings-font-family: "Roboto", "Helvetica", Arial, sans-serif;

/*-- scss:rules --*/

/* Optional: enforce heading font on all heading tags */

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", "Helvetica", Arial, sans-serif;
}

h1{
  border: none;
   font-size: 35px;

}

h2{
  border: none;
   font-size: 25px;
}

h3 {
    font-size: 20px;
    color: #37B4B0;
}

h4 {
    font-size: 20px;
    color: #009BC1;
}

h5 {
    font-size: 20px;
    color: white;
}
.panel-tabset{
  border: none !important;
}

.tab-content{
  border-top: #405162 solid 1px;
  border-bottom: #405162 solid 1px;
  border-right: none !important;
  border-left: none !important;
}

header#title-block-header {
    color: white;
    padding: 20px;
    background-color: #405162;
    border: #405162 solid 1px;
    border-radius: 5px;
}

.breadcrumb {
    --bs-breadcrumb-divider-color: white;
    --bs-breadcrumb-item-active-color: white;
}

/* Individual tab buttons */
.nav-tabs .nav-link {
  color: #fff;
  background-color: #009BC1;  // background for inactive tabs
  border: #405162 solid 1px;
  border-bottom: none;
  margin-right: 2px;
}

/* Active tab */
.nav-tabs .nav-link.active {
  color: #fff;
  background-color: #37B4B0;  // active tab background
  border-color: #37B4B0;
  border: #405162 solid 1px;
}

/* Hover effect */
.nav-tabs .nav-link:hover {
  background-color: #37B4B0;
  color: #fff;
}

.reveal .slide-logo {
   max-height: 1.5em !important;
}

/* custom callout 1  */
.callout-c1 {
  padding: 10px; 
  color: white;
  background-color: #37B4B0;
  border: #405162 solid 1px;
  border-radius: 5px;
}

/* custom callout 2  */
.callout-c2 {
  padding: 10px;
  color: white;
  background-color: #009BC1;
  border: #405162 solid 1px;
  border-radius: 5px;
}

.termsfeed-com---palette-dark.termsfeed-com---nb {
  background-color: #405162;
}

.termsfeed-com---palette-dark .cc-nb-okagree, .termsfeed-com---palette-dark .cc-nb-changep, .termsfeed-com---palette-dark .cc-nb-reject{
  background-color: #009BC1;
  color: white; 
}